build/*
build-*
install/*
cmake-*
data/models
vs2017
vs2019
.idea
.vscode
*.zip
*.7z
lib/ncnn*
lib/opencv*
scripts/android/visionEngine*
scripts/linux/visionEngine*
scripts/win/visionEngine*
visionEngine-windows-*